RewriteEngine On

RewriteCond %{HTTP_HOST} !^www.seleos.de$ [NC]
RewriteRule ^(.*)$ https://www.seleos.de/$1 [L,R=301]

RewriteCond %{SERVER_PORT} !=443
RewriteRule ^(.*)$ https://www.seleos.de/$1 [R=301,L]
