/* poppins-200 - latin */
@font-face {
    font-display: optional; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/poppins-v20-latin-200.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v20-latin-200.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-300 - latin */
@font-face {
    font-display: optional; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v20-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-regular - latin */
@font-face {
    font-display: optional; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* poppins-500 - latin */
@font-face {
    font-display: optional; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/poppins-v20-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #17365d;
    scroll-behavior: smooth;
}

a {
    color: #0b1b4c;
    line-height: 150%;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    color: #2e67e2;
}

a[href^="tel"],
a[x-apple-data-detectors] {
    color: inherit !important;
}

a.btn.btn-primary {
    padding-top: 9px;
    padding-bottom: 9px;
    color: #ffffff !important;
    border-color: #1265ea;
    border-radius: 0;
    background-color: #1265ea;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

a.btn.btn-primary:active,
a.btn.btn-primary:focus,
a.btn.btn-primary:hover {
    color: #ffffff;
    border-color: #0b52c4;
    background-color: #0b52c4;
}

.btn.btn-primary.btn-phone,
.btn.btn-primary.btn-mail {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    padding-right: 60px;
    min-width: auto;
    border: none;
    text-align: center;
    line-height: 50px;
}

.btn.btn-primary.btn-phone:after,
.btn.btn-primary.btn-mail:after {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 50px;
    top: 0;
    right: 0;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23FFFFFF;%7D%0A%3C/style%3E%3Cg id='Gruppe_1514' transform='translate(-25.072 -25.103)'%3E%3Cpath id='Pfad_955' class='st0' d='M35.8,40.6c-2.1,0-4.3-1.2-6.7-3.5c-2.7-2.7-3.9-5.3-3.5-7.6c0.3-1.5,1.2-2.8,2.5-3.5 c0.4-0.3,0.9-0.4,1.4-0.3c0.7,0.2,1.1,1,1.6,2.1c0.1,0.3,0.3,0.6,0.4,0.8c0.5,0.7,0.3,1.7-0.4,2.2c0,0-0.1,0-0.1,0.1 c-0.2,0.1-0.3,0.3-0.5,0.4c-0.3,0.2-0.6,0.3-0.5,0.6c0.8,2,2.4,3.6,4.4,4.4c0.3,0.1,0.5-0.2,0.6-0.4c0.1-0.2,0.3-0.4,0.4-0.6 c0.5-0.8,1.5-1,2.2-0.5c0,0,0,0,0,0c0.3,0.2,0.6,0.3,0.8,0.4c1,0.5,1.8,0.9,2.1,1.6c0.1,0.5,0,1-0.3,1.4c-0.8,1.3-2.1,2.2-3.5,2.5 C36.4,40.6,36.1,40.6,35.8,40.6z'/%3E%3C/g%3E%3C/svg%3E%0A");    background-size: 20px 15px;
    background-position: center;
    background-color: #0b52c4;
    background-repeat: no-repeat;
    border-left: 1px solid #ffffff;
    transition: 0.5s right ease;
    content: ' ';
}

.btn.btn-primary.btn-mail:after {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 26.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 13.8' style='enable-background:new 0 0 20 13.8;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23FFFFFF;%7D%0A%3C/style%3E%3Cg id='Gruppe_1220' transform='translate(-24.35 -29.634)'%3E%3Cg id='Gruppe_1513' transform='translate(24.35 29.634)'%3E%3Cg id='Gruppe_1512'%3E%3Cg id='Gruppe_1511'%3E%3Cg%3E%3Cg id='Gruppe_1510'%3E%3Cg id='Gruppe_1219' transform='translate(0.304 0.334)'%3E%3Cpath id='Pfad_732' class='st0' d='M0.2,13h19.1V0.1H0.2V13z'/%3E%3Cg id='Gruppe_1218'%3E%3Cpath id='Pfad_733' class='st0' d='M0,0l9.3,8.5l0.3,0.3l0.3-0.3L19.4,0'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

b, strong {
    font-weight: 500;
}

h1,
.h1 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 140%;
    text-transform: none;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    color: #2e67e2;
    letter-spacing: 1px;
}

h2 > span {
    display: inline-block;
    margin-top: -2px;
    margin-right: 10px;
    width: 80px;
    border-bottom: 1px solid #2e67e2;
    vertical-align: middle;
}

h2.text-white > span {
    border-bottom: 1px solid #ffffff;
}

h3 {
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 140%;
}

h4 {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5,
.h5 {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: normal;
}

.text-padded {
    padding: 0;
    max-width: 450px;
    line-height: 190%;
}

.text-padded span {
    background-color: #1265ea;
    color: #ffffff;
    display: inline;
    padding: 4px 10px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

@media only screen and (min-width: 992px) {
    h1,
    .h1,
    h3 {
        font-size: 2.125rem;
    }

    .text-padded {
        line-height: 175%;
    }
}

.lh-lg {
    line-height: 1.75 !important;
}

.link-primary {
    color: #1265ea !important;
    padding-bottom: 0;
    border-bottom: 1px solid #1265ea !important;
}

.link-primary:hover {
    color: #0b52c4 !important;
    border-bottom: 1px solid #0b52c4 !important;
}

.fs-5 {
    font-size: 1.125rem!important;
}

@media only screen and (min-width: 992px) {
    .fs-5 {
        font-size: 1.25rem !important;
    }
}

/* General */
.bg-dark-blue {
    background-color: #0b1b4c;
}

.bg-dark-blue-r {
    background-image: radial-gradient(circle, rgb(24, 59, 165) 0%, rgb(17, 43, 121) 30%, rgb(11, 27, 76) 70%);
    background-size: contain;
}

.bg-light-blue {
    color: #ffffff;
    background-color: #1265ea;
}

@media (min-width: 992px) {
    .bg-list {
        background-color: rgba(18, 101, 234, 0.05);
    }
}

@media (max-width: 991.98px) {
    .bg-light-blue-phone {
        background-color: #1265ea;
    }

    .bg-list-phone {
        background-color: rgba(18, 101, 234, 0.05);
    }
}

.bg-light-grey {
    color: #ffffff;
    background-color: #edf1f5;
}

.dashed-end {
    border-bottom: 1px dashed #1f365a;
}

.list-bullet {
    margin-left: 0;
    padding-left: 1rem;
    list-style: none;
}

.list-bullet > li {
    font-size: 1rem;
    line-height: 26px;
}

.list-bullet > li::before {
    display: inline-block;
    font-size: 1.25rem;
    width: 1rem;
    margin-left: -1rem;
    vertical-align: top;
    color: #1265ea;
    content: "\2022";
}

.bg-light-blue .list-bullet > li::before {
    color: #ffffff;
}

@media (min-width: 992px) {
    .list-bullet > li {
        font-size: 1.25rem;
        line-height: 35px;
    }
}

/* Navigation */
#hamburger {
    display: none;
}

#hamburger + label {
    position: relative;
    width: 45px;
    height: 23px;
    display: inline-block;
    cursor: pointer;
    margin: 10px 0 10px 10px;
    transition: all .5s;
    text-align: left;
}

#hamburger + label div,
#hamburger + label div::before,
#hamburger + label div::after {
    background: #ffffff;
    position: absolute;
    height: 2px;
    width: 30px;
    border-radius: 2px;
    transition: all .5s;
}

.navbar-light .navbar-toggler label span {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.navbar-light .navbar-toggler.collapsed #hamburger + label div {
    background: #0e1c49;
}

.navbar-light .navbar-toggler.collapsed span:nth-child(1) {
    display: none;
}

.navbar-light .navbar-toggler.collapsed span:nth-child(2) {
    display: none !important;
}

@media only screen and (min-width: 576px) {
    .navbar-light .navbar-toggler.collapsed span:nth-child(1) {
        display: inline !important;
    }

    .navbar-light .navbar-toggler span:nth-child(2) {
        display: inline !important;
    }
}

#hamburger + label div:first-child {
    top: 0;
}

#hamburger + label div:nth-child(2) {
    top: 10px;
    width: 45px
}

#hamburger + label div:nth-child(3) {
    top: 20px;
}

#hamburger + label div {
    transition: top .15s .17s, transform .12s .033s;
}

#hamburger + label div:nth-child(3) {
    transition: top .15s .17s, transform .17s;
}

.navbar-light .navbar-toggler:not(.collapsed) #hamburger + label div {
    top: 10px;
    width: 30px;
    transform: rotate(135deg);
    transition: top .1s, transform .12s .1s;
}

.navbar-light .navbar-toggler:not(.collapsed) #hamburger + label div:nth-child(3) {
    transform: rotate(225deg);
    transition: top .1s, transform .17s .1s;
}

nav.navbar {
    margin-bottom: 0;
    padding: 0;
    border: 0;
    height: 70px;
}

nav.navbar .navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    margin-top: 0;
}

.navbar-nav .nav-link {
    padding: 0;
    font-size: 20px;
    line-height: 45px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: #ffffff !important;
}

.navbar-light .navbar-toggler {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent !important;
    border: none;
    color: #ffffff;
    z-index: 2000;
}

.navbar-light .navbar-toggler.collapsed {
    color: #0e1c49;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Ebene_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2060%2050%22%20style%3D%22enable-background%3Anew%200%200%2060%2050%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3Anone%3Bstroke%3A%23325D8D%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3B%7D%3C%2Fstyle%3E%3Cg%20id%3D%22Gruppe_484%22%20transform%3D%22translate%2812.021%20-9.192%29%20rotate%2845%29%22%3E%3Cline%20id%3D%22Linie_19%22%20class%3D%22st0%22%20x1%3D%2247.5%22%20y1%3D%221.2%22%20x2%3D%2226.3%22%20y2%3D%2222.4%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22Gruppe_484_00000049935562156961335410000010139819430374773151_%22%20transform%3D%22translate%2812.021%20-9.192%29%20rotate%2845%29%22%3E%3Cline%20id%3D%22Linie_19_00000166666575514607237410000018293046572909026991_%22%20class%3D%22st0%22%20x1%3D%2239.8%22%20y1%3D%22-6.6%22%20x2%3D%2218.5%22%20y2%3D%2214.6%22%2F%3E%3C%2Fg%3E%3Cg%20id%3D%22Gruppe_484_00000093868228161006749770000002752661831201694620_%22%20transform%3D%22translate%2812.021%20-9.192%29%20rotate%2845%29%22%3E%3Cline%20id%3D%22Linie_19_00000028301074646662457240000003870095184803366805_%22%20class%3D%22st0%22%20x1%3D%2255.2%22%20y1%3D%228.9%22%20x2%3D%2234%22%20y2%3D%2230.1%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A');
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media only screen and (min-width: 992px) {
    body {
        padding-top: 70px;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        margin-bottom: 0;
        padding: 10px 0;
        font-size: 14px;
        line-height: 20px;
        color: #4f535d !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link:hover,
    .navbar-expand-lg .navbar-nav .nav-link:active,
    .navbar-expand-lg .navbar-nav .nav-link:focus,
    .navbar-expand-lg .navbar-nav .nav-link.active {
        color: #1265ea !important;
    }

    .navbar-light .navbar-toggler {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }

    .navbar-expand-lg .navbar-nav a.nav-link-karriere {
        margin-left: 0.75rem;
        padding: 0 0.75rem;
    }
}

@media only screen and (max-width: 991px) {
    .navbar-collapse .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    .navbar-nav .nav-link {
        text-align: center;
    }

    .navbar .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-content: center;
        position: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center !important;
        background: #17365d;
        opacity: 0;
        transition: opacity 0.35s ease;
    }

    .navbar .navbar-collapse.collapse {
        display: flex;
        opacity: 0;
        pointer-events: none;
        z-index: 2;
    }

    .navbar .navbar-collapse.collapsing[style*="height"] {
        height: 100vh !important;
        opacity: 1;
    }

    .navbar .navbar-collapse.collapsing {
        height: 100vh;
        opacity: 0;
    }

    .navbar .navbar-collapse.collapse.show {
        opacity: 1;
        pointer-events: auto;
    }

    .navbar .navbar-collapse .navbar-nav {
        margin-top: 100px;
        margin-right: initial !important;
        margin-bottom: auto
    }

    .navbar .navbar-collapse .navbar-close {
        position: absolute;
        top: 15px;
        right: 45px;
        font-size: 14px;
        font-weight: normal;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        cursor: pointer;
    }

    .navbar .navbar-collapse .btn-close {
        background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-16%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Ebene_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2020%2020%22%20style%3D%22enable-background%3Anew%200%200%2020%2020%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3Anone%3Bstroke%3A%23FFFFFF%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3B%7D%3C%2Fstyle%3E%3Cline%20id%3D%22Linie_19%22%20class%3D%22st0%22%20x1%3D%2217.1%22%20y1%3D%222.9%22%20x2%3D%223%22%20y2%3D%2217%22%2F%3E%3Cline%20id%3D%22Linie_20%22%20class%3D%22st0%22%20x1%3D%223%22%20y1%3D%222.9%22%20x2%3D%2217.1%22%20y2%3D%2217%22%2F%3E%3C%2Fsvg%3E%0A');
        background-size: 20px 20px;
        vertical-align: middle;
        opacity: 1;
    }

    .navbar .navbar-collapse .navbar-nav .nav-link {
        color: #ffffff !important;
    }

    .navbar .navbar-collapse .navbar-nav .nav-link:hover,
    .navbar .navbar-collapse .navbar-nav .nav-link:active,
    .navbar .navbar-collapse .navbar-nav .nav-link:focus {
        color: #1265ea !important;
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-left: initial !important;
    }
}

/* Header */
@media only screen and (min-width: 992px) {
    #header {
        background-image: url('../images/background.jpg');
        background-position: center right;
        background-repeat: no-repeat;
        background-color: #0b1b4c;;
        background-size: contain;
    }

    .webp #header {
        background-image: url('../images/background.webp');
    }
}

/* Services */

.img-circle img {
    border-radius: 100%;
    outline: 20px solid rgb(18, 101, 234, 0.15);
    transition: outline 0.3s linear;
}

.img-circle:hover img {
    outline-width: 30px;
}

/* Footer */
@media only screen and (min-width: 992px) {
    footer .dashed-end {
        border-bottom: none !important;
    }
}